body {
    font-family: Arial, sans-serif;
    background-color: #716060;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 120px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.game {
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 0 auto;
    justify-content: center; /* Center the grid */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e6dcd7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.cell:hover {
    background-color: #909aa6;
}

.hidden {
    display: none;
}

.status {
    margin-bottom: 10px;
    font-size: 24px; /* Increase font size for status messages */
    font-weight: bold; /* Make status messages bold */
}